@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=PT+Sans&family=Poppins&family=Roboto+Condensed:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}


main {
     max-width: 900px;
     height: 100%;
     margin: 0 auto;
     box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
      -30px 0px 40px rgba(0, 0, 0, 0.1);
 }

 /* SECTION 1 */

 .section1__container{
     display: flex;
     padding: 0 16px;
 }

 .sec1-text{
     border: 1px solid red;
     padding: 35vh 10px;
 }

 .sec1-h1{
     font-size: 40px;
     font-weight: 500;
     display: block;
     text-align: center;
 }

 .sec1-h2{
     font-size: 19px;
     font-weight: 600;
    display: block;
    text-align: center;
     color: #888888;
 }

 .sec1-a{
     width: 163px;
     height: 54px;
     font-size: 16px;
     text-decoration: none;
     display: block;
     text-align: center;
     margin: 20px auto;
    padding: 15px 5px;
     background: #fff;
     color: #000;
     border: 1px solid #ccc;
     border-radius: 50px;
 }

 .img-1{
     width: 520px;
     height: 620px;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     margin-left: 20px;
 }
